*.png
*.model
[logs]/
[fig_save]/
[__pycache__]/
[fig_1d]/
[fig_burgers]/
[fig_burgers_save]/
[fig_save]/
[wandb]/
*.log
*.json
*.wandb
**/*.swp
**/__pycache__
data/**
!data/.gitkeep
output/**
wandb/
**/wandb/**
docker/env.list